<div class="container mx-auto px-20">
  <div class="relative overflow-x-auto">
    <div class="bg-white py-24">
      <div class="mx-auto grid max-w-7xl gap-x-8 gap-y-20 px-6 lg:px-8 xl:grid-cols-3">
        <div class="max-w-2xl">
          <h2 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">Таблица времени Continure | FM</h2>
          <p class="mt-6 text-lg leading-8 text-gray-600">Планы на день, итоги дня можно посмотреть в Telegram</p>
        </div>
        <ul role="list" class="grid gap-x-8 gap-y-12 sm:grid-cols-2 sm:gap-y-16 xl:col-span-2">
          <li>
            <div class="flex items-center gap-x-6">
              <img class="h-16 w-16 rounded-full" src="https://avatars.githubusercontent.com/u/76652963?v=4" alt="">
              <div>
                <h3 class="text-base font-semibold leading-7 tracking-tight text-gray-900">Егор Щербаков</h3>
                <p class="text-sm font-semibold leading-6 text-indigo-600">Ruby разработчик</p>
                <p class="mt-1 truncate text-xs leading-5 text-gray-500">Сколько часов отработал в июне: <%= @employee.weeks.count %> часа</p>
                <p class="mt-1 truncate text-xs leading-5 text-gray-500">Location: Novosibirsk</p>
                <p class="mt-1 truncate text-xs leading-5 text-gray-500">Time: 22-21</p>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
      <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
        <caption class="p-5 text-lg font-semibold text-left text-gray-900 bg-white dark:text-white dark:bg-gray-800">
            2023 год
            <p class="mt-1 text-sm font-normal text-gray-500 dark:text-gray-400"><%= get_month(@employee.weeks.first.month) %></p>
        </caption>
          <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
              <tr>
                  <th scope="col" class="px-6 py-3">
                      День недели
                  </th>
                  <th scope="col" class="px-6 py-3">
                      Дата
                  </th>
                  <th scope="col" class="px-6 py-3">
                      Пришел
                  </th>
                  <th scope="col" class="px-6 py-3">
                      Ушел
                  </th>
                  <th scope="col" class="px-6 py-3">
                      Время на рабочем месте
                  </th>
              </tr>
          </thead>
          <tbody>
            <%= @employee.weeks.each do |week| %>
              <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                  <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                      <%= get_day_of_week(week.days.first.day_of_week) %>
                  </th>
                  <td class="px-6 py-4">
                      2023.03.03
                  </td>
                  <td class="px-6 py-4">
                      <%= week.days.first.work_start.strftime("%l:%M %p") %>
                  </td>
                  <td class="px-6 py-4">
                      <%= week.days.first.work_end.strftime("%l:%M %p") %>
                  </td>
                  <td class="px-6 py-4">
                      8 часов
                  </td>
              </tr>
              <% end %>
              <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                  <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                      Вторник
                  </th>
                  <td class="px-6 py-4">
                      White
                  </td>
                  <td class="px-6 py-4">
                      Laptop PC
                  </td>
                  <td class="px-6 py-4">
                      $1999
                  </td>
                  <td class="px-6 py-4">
                      $99
                  </td>
              </tr>
              <tr class="bg-white dark:bg-gray-800">
                  <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                      Среда
                  </th>
                  <td class="px-6 py-4">
                      Black
                  </td>
                  <td class="px-6 py-4">
                      Accessories
                  </td>
                  <td class="px-6 py-4">
                      $99
                  </td>
                  <td class="px-6 py-4">
                      $99
                  </td>
              </tr>
          </tbody>
      </table>
  </div>
</div>